@font-face {
    font-family: PokemonGB;
    src: url(./font/PokemonGB.ttf);
}

.navLeft {
    max-height: 90% !important;
    overflow: hidden !important;
    padding-left: 20px !important;
  }

.teamList {
    overflow: auto;
    padding: 15px;
}

.teamIcon{
    padding: 3px !important;
    font-family: PokemonGB;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6db3f2+0,54a3ee+50,3690f0+51,1e69de+100 */
    background: #6db3f2; /* Old browsers */
    background: -moz-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */
    height: 60px;
    border: 1px solid #000000;   
    border-radius: 5px;
    -moz-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
    -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
    cursor:pointer;
    margin-top: 5px;
    margin-bottom: 5px;
    min-width: 200px;
}

/* overrides */

.ui.card, .ui.cards > .card{
    flex-direction: row !important;
    background: none !important;
    border: 0px solid !important;
    border-radius: 0px !important;
    box-shadow: none !important;
}

.ui.six.cards{
    margin-right: 0.25em !important;
}

.ui.card > .image, .ui.cards > .card > .image{
    background: none !important;
}